*{
    margin: 0%;
    padding: 0%;
    background-color:darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
} 
h2{
    color: darkgreen;
    margin-top: 10px;
}
#msg{
    margin-bottom: 1em;
}
#gameBoard{
    border: 3px solid;
}
#score{
    margin-top: 10px;
    font-size: 2em;
}